html, body {
  height: 100%;
  margin: 0;
}

.package-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  margin: 0;
}

.package-image {
  position: relative;
  text-align: center;
  width: 100%;
}

.package-image img {
  width: 100%;
  object-fit: cover;
}

.package-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
}

.package-details {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.package-description {
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 15px;
}

.package-price {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  color: var(--primary);
}
