.service-container {
  background-color: black; 
  padding: 50px 20px;
  text-align: center;
}

.service-container > h2{
    font-size: 50px;
    color: #f5f5f5;
}
.service-container > p{
    color: #f5f5f5;
    margin-bottom: 40px;
}

.service-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-item {
  width: 300px;
  margin: 30px;
  padding: 20px;
  background-color: #f5f5f523; 
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(111, 240, 132, 0.3);
  transition: transform 0.5s ease 
}

.service-item > h4{
  color: #f5f5f5;
    margin-top: 30px;
    font-size: 24px;
}

.service-item > p{
  color: #f5f5f5;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

i {
  margin-top: 25px;
  font-size: 24px;
  margin-bottom: 25px;
  display: block;
  color: var(--primary);
  transition: transform 1s ease 
}

.service-item:hover {
    box-shadow: 0 0 50px rgba(77, 169, 93, 0.7);
    transform: scale(1.10); 
  }

  i:hover {
    size: 200%;
  }
