* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: normal normal normal calc(42 * var(--theme-spx-ratio))/1.4em wfont_da9c68_70d984447a244abea92704e91e35b213,wf_70d984447a244abea92704e91,orig_italiana;
    font: 400 sans-serif;;
    --primary: #8D8741;;
    --secondary: #FBEEC1;
    --additional: #fffaea;
  }
  
  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .services {
    background-image: url('../public/img-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .products {
    background-image: url('../public/img-1.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .sign-up {
    background-image: url('../public/img-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }